/* ---------------------------------
 *         Responsive Layout
 * --------------------------------- */
+widescreen()
    .is-1-column .container, .is-2-column .container, .is-3-column .container
        max-width: $widescreen - 2 * $gap
        width: auto

+fullhd()
    .is-2-column .container, .is-3-column .container
        max-width: $fullhd - 2 * $gap
        width: auto

    .is-1-column .container
        max-width: $desktop - 2 * $gap
        width: auto

// Centered content for posts without TOC
.is-1-column
    .columns.is-centered
        justify-content: center
        
        .column-main
            flex: none

+tablet()
    .is-sticky
        position: -webkit-sticky
        position: sticky
        top: 1.5rem
        z-index: 99

    .column-main, .column-left, .column-right, .column-right-shadow
        &.is-sticky
            top: .75rem
            align-self: flex-start

+mobile()
    .section
        padding: 1.5rem 1rem
